.row {
  display: flex;
  flex-wrap: wrap;
}

[class*=col-] {
  display: inline-flex;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .col-sm-1 {
    width: calc(8.333333% * 1);
    flex-basis: calc(8.333333% * 1);
  }
  .col-sm-2 {
    width: calc(8.333333% * 2);
    flex-basis: calc(8.333333% * 2);
  }
  .col-sm-3 {
    width: calc(8.333333% * 3);
    flex-basis: calc(8.333333% * 3);
  }
  .col-sm-4 {
    width: calc(8.333333% * 4);
    flex-basis: calc(8.333333% * 4);
  }
  .col-sm-5 {
    width: calc(8.333333% * 5);
    flex-basis: calc(8.333333% * 5);
  }
  .col-sm-6 {
    width: calc(8.333333% * 6);
    flex-basis: calc(8.333333% * 6);
  }
  .col-sm-7 {
    width: calc(8.333333% * 7);
    flex-basis: calc(8.333333% * 7);
  }
  .col-sm-8 {
    width: calc(8.333333% * 8);
    flex-basis: calc(8.333333% * 8);
  }
  .col-sm-9 {
    width: calc(8.333333% * 9);
    flex-basis: calc(8.333333% * 9);
  }
  .col-sm-10 {
    width: calc(8.333333% * 10);
    flex-basis: calc(8.333333% * 10);
  }
  .col-sm-11 {
    width: calc(8.333333% * 11);
    flex-basis: calc(8.333333% * 11);
  }
  .col-sm-12 {
    width: calc(8.333333% * 12);
    flex-basis: calc(8.333333% * 12);
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    width: calc(8.333333% * 1);
    flex-basis: calc(8.333333% * 1);
  }
  .col-md-2 {
    width: calc(8.333333% * 2);
    flex-basis: calc(8.333333% * 2);
  }
  .col-md-3 {
    width: calc(8.333333% * 3);
    flex-basis: calc(8.333333% * 3);
  }
  .col-md-4 {
    width: calc(8.333333% * 4);
    flex-basis: calc(8.333333% * 4);
  }
  .col-md-5 {
    width: calc(8.333333% * 5);
    flex-basis: calc(8.333333% * 5);
  }
  .col-md-6 {
    width: calc(8.333333% * 6);
    flex-basis: calc(8.333333% * 6);
  }
  .col-md-7 {
    width: calc(8.333333% * 7);
    flex-basis: calc(8.333333% * 7);
  }
  .col-md-8 {
    width: calc(8.333333% * 8);
    flex-basis: calc(8.333333% * 8);
  }
  .col-md-9 {
    width: calc(8.333333% * 9);
    flex-basis: calc(8.333333% * 9);
  }
  .col-md-10 {
    width: calc(8.333333% * 10);
    flex-basis: calc(8.333333% * 10);
  }
  .col-md-11 {
    width: calc(8.333333% * 11);
    flex-basis: calc(8.333333% * 11);
  }
  .col-md-12 {
    width: calc(8.333333% * 12);
    flex-basis: calc(8.333333% * 12);
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    width: calc(8.333333% * 1);
    flex-basis: calc(8.333333% * 1);
  }
  .col-lg-2 {
    width: calc(8.333333% * 2);
    flex-basis: calc(8.333333% * 2);
  }
  .col-lg-3 {
    width: calc(8.333333% * 3);
    flex-basis: calc(8.333333% * 3);
  }
  .col-lg-4 {
    width: calc(8.333333% * 4);
    flex-basis: calc(8.333333% * 4);
  }
  .col-lg-5 {
    width: calc(8.333333% * 5);
    flex-basis: calc(8.333333% * 5);
  }
  .col-lg-6 {
    width: calc(8.333333% * 6);
    flex-basis: calc(8.333333% * 6);
  }
  .col-lg-7 {
    width: calc(8.333333% * 7);
    flex-basis: calc(8.333333% * 7);
  }
  .col-lg-8 {
    width: calc(8.333333% * 8);
    flex-basis: calc(8.333333% * 8);
  }
  .col-lg-9 {
    width: calc(8.333333% * 9);
    flex-basis: calc(8.333333% * 9);
  }
  .col-lg-10 {
    width: calc(8.333333% * 10);
    flex-basis: calc(8.333333% * 10);
  }
  .col-lg-11 {
    width: calc(8.333333% * 11);
    flex-basis: calc(8.333333% * 11);
  }
  .col-lg-12 {
    width: calc(8.333333% * 12);
    flex-basis: calc(8.333333% * 12);
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    width: calc(8.333333% * 1);
    flex-basis: calc(8.333333% * 1);
  }
  .col-xl-2 {
    width: calc(8.333333% * 2);
    flex-basis: calc(8.333333% * 2);
  }
  .col-xl-3 {
    width: calc(8.333333% * 3);
    flex-basis: calc(8.333333% * 3);
  }
  .col-xl-4 {
    width: calc(8.333333% * 4);
    flex-basis: calc(8.333333% * 4);
  }
  .col-xl-5 {
    width: calc(8.333333% * 5);
    flex-basis: calc(8.333333% * 5);
  }
  .col-xl-6 {
    width: calc(8.333333% * 6);
    flex-basis: calc(8.333333% * 6);
  }
  .col-xl-7 {
    width: calc(8.333333% * 7);
    flex-basis: calc(8.333333% * 7);
  }
  .col-xl-8 {
    width: calc(8.333333% * 8);
    flex-basis: calc(8.333333% * 8);
  }
  .col-xl-9 {
    width: calc(8.333333% * 9);
    flex-basis: calc(8.333333% * 9);
  }
  .col-xl-10 {
    width: calc(8.333333% * 10);
    flex-basis: calc(8.333333% * 10);
  }
  .col-xl-11 {
    width: calc(8.333333% * 11);
    flex-basis: calc(8.333333% * 11);
  }
  .col-xl-12 {
    width: calc(8.333333% * 12);
    flex-basis: calc(8.333333% * 12);
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: #0d0d2b;
  font-family: "Rubik", sans-serif;
}
body .btn {
  display: block;
  font-style: normal;
  height: 65px;
  background-color: #3671e9;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
  border: none;
}
body a.nav_menu_link {
  align-items: center;
  color: #E0E0E0;
  text-decoration: none;
  margin: 0 20px 0 10px;
  font-weight: 500;
}

header {
  display: flex;
  min-height: 150px;
  width: 100%;
}
header .menu {
  display: flex;
  width: 100%;
  align-items: center;
}
header .menu .logo {
  display: flex;
  padding-left: 5%;
}
header .menu .logo .crappo {
  display: flex;
  align-items: center;
  justify-content: end;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}
header .menu .logo .crappo .crappo_icon {
  align-items: center;
  justify-content: start;
}
header .menu .logo span {
  display: flex;
  text-transform: uppercase;
  font-weight: 500;
  position: absolute;
  margin-right: -90px;
}
header .menu .hamburger {
  display: none;
  width: 80px;
  height: 10px;
  float: right;
  transition: scale 1s;
  cursor: pointer;
}
header .menu .hamburger:hover span {
  box-shadow: 1px 1px 1px;
  transform: scale(1.1);
}
header .menu .hamburger span {
  display: block;
  border-top: 4px #2ad4cc solid;
  border-bottom: 4px #2ad4cc solid;
  box-shadow: 1px 1px 1px;
  border-radius: 10px;
  margin: 27% 0;
  width: 80%;
}
header nav {
  display: flex;
  flex: 95%;
  align-items: end;
  margin-right: 5%;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 100%;
}
header nav ul li {
  display: flex;
}
header nav ul li .login p {
  padding-left: 40px;
  padding-right: 30px;
  font-weight: 600;
  font-size: 18px;
}
header nav ul li .register {
  display: flex;
  width: 130px;
  align-items: center;
  justify-content: center;
}
header nav ul li .register p {
  background-color: #3671E9;
  padding: 20px 30px;
  border-radius: 35px;
  font-size: 18px;
}

<<<<<<< HEAD
@media (max-width: 600px) {
  header .menu {
    background-color: #111;
    position: fixed;
    min-height: 90px;
    z-index: 2;
  }
  header .menu .hamburger {
    top: -10px;
    z-index: 2;
  }
  header .menu .logo .crappo span {
    display: none;
  }
}
@media (max-width: 991px) {
  header .hamburger {
    display: block !important;
    position: fixed;
    top: 20px;
    right: 10px;
  }
  header nav {
    display: none;
  }
}
.hero {
  background-image: url("../img/background/bgc-hero-XL.jpg");
  background-size: 100%;
  padding-bottom: 10%;
}
.hero .hero_content {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.hero .hero_content .content_info_banner {
  padding: 20px 0;
}
.hero .hero_content .content_info_banner p {
=======
section.hero {
  background-image: url("../img/background/bgc-hero-XL.jpg");
  background-size: contain;
  position: reslative;
}
section.hero .hero_content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 5%;
}
section.hero .hero_content .content_info_banner {
  padding: 20px 0;
}
section.hero .hero_content .content_info_banner p {
>>>>>>> 57317f1b75f18607c35eb680b39882598b61ff24
  display: inline;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.8);
  padding: 9px 15px 9px 5px;
  border-radius: 1.5em;
  z-index: -1;
}
<<<<<<< HEAD
.hero .hero_content .content_info_banner p span {
=======
section.hero .hero_content .content_info_banner p span {
>>>>>>> 57317f1b75f18607c35eb680b39882598b61ff24
  background-color: rgba(255, 255, 255, 0.9);
  color: rgb(56, 56, 56);
  text-transform: uppercase;
  font-weight: 600;
  padding: 5px 15px;
  border-radius: 1.5em;
  margin-right: 15px;
}
<<<<<<< HEAD
.hero .hero_content .content_title {
  font-weight: 700;
  color: #fff;
}
.hero .hero_content .content_description {
=======
section.hero .hero_content .content_title {
  font-size: 64px;
  font-weight: 700;
  color: #fff;
}
section.hero .hero_content .content_description {
>>>>>>> 57317f1b75f18607c35eb680b39882598b61ff24
  padding: 30px 0;
  color: rgba(224, 224, 224, 0.8);
  letter-spacing: 0.01rem;
  line-height: 28px;
}
<<<<<<< HEAD
.hero .hero_content .content_button {
=======
section.hero .hero_content .content_button {
>>>>>>> 57317f1b75f18607c35eb680b39882598b61ff24
  width: 150px;
  height: 30px;
  padding: 15px 20px 20px 25px;
}
<<<<<<< HEAD
.hero .hero_content .content_button .btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
=======
section.hero .hero_content .content_button .btn_container {
>>>>>>> 57317f1b75f18607c35eb680b39882598b61ff24
  display: flex;
  justify-content: center;
}
<<<<<<< HEAD
.hero .hero_content .content_button .btn_container a {
  display: -webkit-box;
  display: -ms-flexbox;
=======
section.hero .hero_content .content_button .btn_container a {
>>>>>>> 57317f1b75f18607c35eb680b39882598b61ff24
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
<<<<<<< HEAD
.hero .hero_content .content_button .btn_container a p {
  padding-right: 10px;
}
.hero .hero_content .content_button .btn_container a p span {
  text-transform: uppercase;
}
.hero .hero_image {
  position: absolute;
}

@media (max-width: 600px) {
  .hero {
    text-align: center;
  }
  .hero .hero_content {
    z-index: 1;
    margin: 0 auto;
    padding-top: 10%;
  }
  .hero .hero_content .content_info_banner {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .hero .hero_content .content_title {
    font-size: 34px;
  }
  .hero .hero_content .content_title p {
    line-height: 36px;
  }
  .hero .hero_content .content_button {
    margin: 0 auto;
  }
  .hero .hero_image {
    width: 100%;
    bottom: 30%;
  }
  .hero .hero_image .bitcoin_hub_image {
    width: 80vw;
    min-width: 380px;
    opacity: 0.4;
  }
}
@media (min-width: 601px) {
  .hero {
    text-align: center;
  }
  .hero div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .hero .hero_content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1;
  }
  .hero .hero_content p {
    display: block;
    min-width: 200px;
    line-height: 28px;
  }
  .hero .hero_content .content_info_banner {
    max-width: 370px;
  }
  .hero .hero_content .content_title {
    font-size: 46px;
  }
  .hero .hero_content .content_title p {
    line-height: 48px;
  }
  .hero .hero_content .content_button .btn_container .btn_container_icon {
    position: relative;
    right: 30%;
  }
  .hero .hero_image {
    width: 100%;
    bottom: 20%;
  }
  .hero .hero_image .bitcoin_hub_image {
    width: 80vw;
    min-width: 380px;
    opacity: 0.4;
  }
}
@media (min-width: 768px) {
  .hero .hero_content .content_title {
    font-size: 54px;
  }
  .hero .hero_image .bitcoin_hub_image {
    height: 600px;
  }
}
@media (min-width: 992px) {
  .hero .hero_content .content_title {
    font-size: 64px;
  }
  .hero .hero_content .content_title p {
    line-height: 74px;
  }
}
@media (min-width: 1200px) {
  .hero .hero_content {
    margin-left: 10%;
  }
  .hero .hero_content .content_title,
.hero .hero_content .content_description {
    text-align: left;
  }
  .hero .hero_content .content_info_banner,
.hero .hero_content .content_button {
    margin-left: 0;
  }
  .hero .hero_image {
    max-width: 45vw;
  }
  .hero .hero_image .bitcoin_hub_image {
    max-width: 100%;
    opacity: 1;
=======
section.hero .hero_content .content_button .btn_container a p {
  padding-right: 10px;
}
section.hero .hero_content .content_button .btn_container a p span {
  text-transform: uppercase;
}
@media (max-width: 767px) {
  section.hero .hero_content {
    z-index: 1;
  }
}
@media (max-width: 767px) {
  section.hero .hero_image {
    position: absolute;
    height: 100%;
    max-height: 450px;
    top: 0;
    z-index: 0;
  }
  section.hero .hero_image .bitcoin_hub_image {
    opacity: 0.5;
  }
}
@media (max-width: 767px) {
  section.hero .hero_content {
    justify-content: space-between;
    height: 400px;
  }
}

@media (max-width: 767px) {
  .section.hero .hero_content {
    justify-content: space-between;
    height: 400px;
  }
  .section.hero .hero_image {
    position: absolute;
    height: 100%;
    max-height: 450px;
    top: 0;
    z-index: 0;
  }
  .section.hero .hero_image .bitcoin_hub_image {
    opacity: 0.5;
>>>>>>> 57317f1b75f18607c35eb680b39882598b61ff24
  }
}
.facts {
  min-height: 700px;
  background-image: url("../img/background/section-experience-XL.png");
  color: #E0E0E0;
}
.facts .experience {
  display: flex;
<<<<<<< HEAD
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
=======
  justify-content: space-around;
>>>>>>> 57317f1b75f18607c35eb680b39882598b61ff24
}
.facts .experience .data {
  display: flex;
}
.facts .experience .data p {
  min-width: 210px;
  padding-left: 25px;
  color: #c2c2c2;
}
.facts .experience .data p span {
  font-size: 40px;
  font-weight: 600;
}
.facts .facts_sec {
  position: relative;
}
.facts .facts_sec .facts_info {
  margin: 20% 8%;
}
.facts .facts_sec .facts_info img {
  position: relative;
  top: -100px;
}
.facts .facts_sec .facts_info .facts_question {
  font-size: 50px;
  font-weight: 600;
}
<<<<<<< HEAD
.facts .facts_sec .facts_info .facts_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
=======
.facts .facts_info .facts_text {
  display: flex;
  align-items: center;
>>>>>>> 57317f1b75f18607c35eb680b39882598b61ff24
  color: rgba(224, 224, 224, 0.8);
}
.facts .facts_sec .facts_info .facts_learn {
  width: 140px;
  height: 60px;
  background-color: #3671e9;
  border: none;
  border-radius: 30px;
}
.facts .facts_sec .facts_info .facts_learn p {
  font-size: 18px;
  color: #E0E0E0;
  font-weight: 500;
}
.facts .facts_sec .crypto_procesor {
  position: absolute;
}

@media (max-width: 600px) {
  .facts {
    padding-top: 30%;
  }
  .facts .experience .data {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5% 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .facts .facts_sec {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .facts .facts_sec .facts_info {
    z-index: 1;
    text-align: center;
  }
  .facts .facts_sec .facts_info .spanch_bob {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 5% auto;
  }
  .facts .facts_sec .crypto_procesor {
    margin: 0 auto;
    bottom: 30%;
  }
  .facts .facts_sec .crypto_procesor img {
    width: 100vw;
    opacity: 0.4;
  }
}
@media (min-width: 601px) {
  .facts {
    padding-top: 15%;
  }
  .facts div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .facts .experience .data {
    padding: 5% 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .facts .crypto_procesor {
    bottom: 30%;
  }
  .facts .crypto_procesor img {
    width: 80vw;
    opacity: 0.4;
  }
  .facts .facts_info {
    z-index: 1;
    text-align: center;
  }
  .facts .facts_info .spanch_bob {
    margin: 5% auto;
  }
}
@media (min-width: 1200px) {
  .facts {
    padding-top: 0;
  }
  .facts .experience .data:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .facts .facts_sec .crypto_procesor {
    max-width: 45%;
    margin-left: 5%;
  }
  .facts .facts_sec .crypto_procesor img {
    width: 100%;
    opacity: 1;
  }
  .facts .facts_sec .facts_info div {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .facts .facts_sec .facts_info .facts_question {
    text-align: left;
  }
  .facts .facts_sec .facts_info .facts_text {
    text-align: left;
  }
  .facts .facts_sec .facts_info .facts_learn {
    float: left;
  }
}
.trade {
  background-color: rgb(245, 245, 245);
  min-height: 1480px;
  color: #E0E0E0;
}
.trade .trade_header {
  display: flex;
  text-align: center;
}
.trade .trade_header p {
  font-size: 40px;
  font-weight: 600;
}
.trade .primary_header {
  flex-direction: column;
  background-image: url("../../img/background/section-trade-XL.png");
  height: 50vh;
  margin: 100px 0 0 0;
}
.trade .primary_header span {
  margin-top: 30px;
  color: #c2c2c2;
}
.trade .calculator_container {
  position: relative;
  bottom: 140px;
  margin: 0 auto;
  height: 450px;
  width: 70%;
  font-size: 20px;
  background-color: #fff;
  color: #303030;
  border-radius: 20px;
  z-index: 0;
}
.trade .calculator_container input {
  height: 2rem;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  outline: none;
  font-size: 20px;
}
.trade .calculator_container input:valid ~ .input_text,
.trade .calculator_container input:focus ~ .input_text {
  display: none;
}
.trade .calculator_container .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 30%;
}
.trade .calculator_container .container .input_text {
  position: absolute;
  transition: 0.5s;
}
.trade .calculator_container .container .left_input {
<<<<<<< HEAD
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
=======
  display: grid;
  grid-column: 1/3;
  grid-row: 1/2;
  align-items: center;
>>>>>>> 57317f1b75f18607c35eb680b39882598b61ff24
}
.trade .calculator_container .container .left_input .amount_of_currency {
  width: 85%;
}
.trade .calculator_container .container .left_input .value {
  left: 5%;
}
.trade .calculator_container .container .right_input {
<<<<<<< HEAD
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
=======
  display: grid;
  grid-column: 3/4;
  grid-row: 1/2;
  align-items: center;
>>>>>>> 57317f1b75f18607c35eb680b39882598b61ff24
  width: 100%;
  position: relative;
}
.trade .calculator_container .container .right_input img {
  position: absolute;
  right: 10%;
  cursor: pointer;
}
.trade .calculator_container .container .right_input .ths {
  margin-left: 5%;
}
.trade .calculator_container .container .button_container {
  display: grid;
  align-items: center;
  justify-content: center;
}
.trade .calculator_container .container .button_container button {
  color: #E0E0E0;
  width: 140px;
  cursor: pointer;
  margin-bottom: 15px;
}
.trade .calculator_container .result {
  height: 60%;
}
.trade .calculator_container .result .hour_revenue {
  color: #3671e9;
  font-weight: 500;
  margin-left: 5%;
  font-size: 16px;
}
.trade .calculator_container .result #result {
  width: 42%;
  margin: 2% 5% 2% 5%;
  font-size: 32px;
}
.trade .calculator_container .result .mining_difficulty {
  opacity: 0.5;
  font-size: 16px;
  margin-left: 5%;
  margin-bottom: 5%;
}
.trade .calculator_container select {
  display: none;
}
.trade .secondary_header {
  justify-content: center;
}
.trade .secondary_header p {
  color: black;
}
.trade .products {
  color: black;
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  padding: 5% 0 5% 0;
}
.trade .products .crypto_box {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  width: 28%;
  max-width: 370px;
  max-height: 430px;
}
.trade .products .crypto_box .crypto_icons {
  position: relative;
  bottom: 20px;
  padding: 10px;
  margin-top: 50px;
}
.trade .products .crypto_box .crypto_shortcut {
  font-size: 30px;
  font-weight: 600;
  padding: 20px 0;
}
.trade .products .crypto_box .crypto_shortcut span {
  font-size: 20px;
  font-weight: 500;
}
.trade .products .crypto_box .crypto_text {
  opacity: 0.6;
  padding-bottom: 30px;
  line-height: 30px;
}
.trade .products .crypto_box .crypto_arrows {
  margin-bottom: 50px;
}
.trade .products .bitcoin {
  background-color: #2b076e;
  color: #fff;
}
.trade .products .bitcoin button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  border: none;
  color: #E0E0E0;
  margin-bottom: 50px;
}
.trade .products .bitcoin button img {
  height: 32px;
  padding-left: 25px;
}

@media (max-width: 600px) {
  .trade .trade_header p {
    font-size: 34px;
  }
  .trade .calculator_container .container {
    height: 100%;
  }
  .trade .calculator_container .container .left_input {
    width: 80%;
    top: 10%;
  }
  .trade .calculator_container .container .left_input .amount_of_currency {
    left: 5%;
    position: absolute;
  }
  .trade .calculator_container .container .left_input .amount_of_currency .value {
    position: relative;
    left: 5%;
  }
  .trade .calculator_container .container .right_input {
    height: 20%;
  }
  .trade .calculator_container .container .right_input .type_of_currency {
    margin-left: 5%;
    width: 85%;
  }
  .trade .calculator_container .container .button_container {
    position: relative;
    bottom: 30%;
  }
  .trade .calculator_container .result {
    position: relative;
    bottom: 30%;
  }
  .trade .calculator_container .result #result {
    width: 85%;
  }
  .trade .calculator_container .result p {
    margin: 0 5%;
  }
}
@media (min-width: 600px) {
  .trade .trade_header p {
    font-size: 34px;
  }
  .trade .calculator_container .container {
    height: 100%;
  }
  .trade .calculator_container .container .left_input {
    width: 80%;
    top: 10%;
  }
  .trade .calculator_container .container .left_input .amount_of_currency {
    left: 5%;
    position: absolute;
  }
  .trade .calculator_container .container .left_input .amount_of_currency .value {
    position: relative;
    left: 5%;
  }
  .trade .calculator_container .container .right_input {
    height: 20%;
  }
  .trade .calculator_container .container .right_input .type_of_currency {
    margin-left: 5%;
    width: 85%;
  }
  .trade .calculator_container .container .button_container {
    position: relative;
    bottom: 30%;
  }
  .trade .calculator_container .result {
    position: relative;
    bottom: 30%;
  }
  .trade .calculator_container .result #result {
    width: 85%;
  }
  .trade .calculator_container .result p {
    margin: 0 5%;
  }
}
@media (min-width: 1200px) {
  .trade .trade_header p {
    font-size: 44px;
  }
  .trade .calculator_container .container .left_input .amount_of_currency {
    width: 40%;
  }
}
.charts {
  background-image: url("../../img/background/section-chart_XL.png");
  min-height: 450px;
  color: #E0E0E0;
}
.charts .chart_header {
  display: flex;
  font-size: 40px;
  font-weight: 600;
  padding: 100px 0;
  justify-content: center;
  text-align: center;
}
.charts .chart_text {
  position: relative;
  opacity: 0.6;
}
.charts button {
  width: 160px;
  color: #fff;
}
.charts .chart_properties {
  position: relative;
}
.charts .first_chart {
  display: grid;
}
.charts .second_chart {
  display: grid;
}
.charts .third_chart {
  display: grid;
}

.subscribe {
  display: flex;
  background-image: url("../../img/background/section-subscribe-XL.png");
  min-height: 40vh;
  width: 100%;
  color: white;
  align-items: center;
  justify-content: center;
}
.subscribe .subscribe_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-image: url("../../img/background/sub-area.png");
  background-size: cover;
  height: 215px;
  width: 79%;
  border-radius: 20px;
}
.subscribe .subscribe_container span {
  position: relative;
  grid-area: 1/1/2/2;
  font-size: 32px;
  font-weight: 600;
  margin-left: 10%;
  top: 50%;
}
.subscribe .subscribe_container p {
  grid-area: 2/1/3/2;
  opacity: 0.6;
  margin-left: 10%;
  line-height: 30px;
}
.subscribe .subscribe_container input {
  position: relative;
  grid-area: 1/2/4/3;
  height: 30px;
  background-color: #3671E9;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
  width: 55%;
  top: 40%;
  font-size: 22px;
  color: white;
}
.subscribe .subscribe_container button {
  position: relative;
  top: 35%;
  left: 65%;
  grid-area: 1/2/4/3;
  color: black;
  background-color: #fff;
  width: 150px;
  height: 55px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 0.6fr 0.6fr 1.8fr;
  grid-template-rows: 1fr 1fr 1fr 0.6fr;
  background-image: url("../../img/background/footer.png");
  min-height: 300px;
  margin: 10% 10% 3% 10%;
  color: #E0E0E0;
}
footer .logo {
  grid-area: 1/1/2/2;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
footer .logo .footer_crappo span {
  position: relative;
  padding-left: 10px;
  bottom: 10px;
  font-weight: 600;
}
footer .quick_link ul li:first-of-type,
footer .resources ul li:first-of-type {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 20px;
}
footer .quick_link ul li,
footer .resources ul li {
  color: #E0E0E0;
  line-height: 35px;
  list-style-type: none;
}
footer .quick_link {
  grid-area: 1/2/3/3;
}
footer .resources {
  grid-area: 1/3/3/4;
}
footer h1 {
  grid-area: 1/4/2/5;
  margin-left: 30%;
}
footer .payment_system {
  grid-area: 2/4/3/5;
  margin-left: 30%;
  display: flex;
}
footer .payment_system .payment {
  margin: 15px;
  opacity: 0.7;
}
footer .payment_system .visa {
  margin-left: -15px;
}
footer .rights_reserved {
  grid-area: 4/1/5/5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
footer .rights_reserved p {
  opacity: 0.8;
}
footer .rights_reserved img {
  display: flex;
  height: 25px;
  margin-right: 3%;
}

<<<<<<< HEAD
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

[class*=col-] {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
=======
@media (max-width: 600px) {
  header .menu {
    background-color: #111;
    position: fixed;
    min-height: 90px;
    z-index: 1;
  }
  header .menu .hamburger {
    top: -10px;
    z-index: 2;
  }
  header .menu .logo .crappo span {
    display: none;
  }
  .facts .experience {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .facts .experience .data {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/3;
    margin: 20px 0;
  }
  .facts .facts_info img {
    display: none;
  }
  .facts .facts_info .spanch_bob {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/3;
  }
  .facts .facts_info .facts_question {
    font-size: 36px;
  }
  .facts .facts_info button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .trade .calculator_container .container .left_input {
    grid-column: 1/4;
  }
  .trade .calculator_container .container .left_input .value {
    font-size: 16px;
  }
  .trade .calculator_container .container .right_input {
    grid-column: 1/4;
  }
  .trade .calculator_container .container .right_input .ths {
    font-size: 16px;
    margin-left: 10%;
  }
  .trade .calculator_container .container .button_container button {
    width: 100px;
  }
  .trade .products {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .trade .products .crypto_box {
    grid-column: 1/3;
    margin: 5% auto;
    width: 60% !important;
  }
  .trade .products .bitcoin {
    grid-row: 1/2;
  }
  .trade .products .ether {
    grid-row: 2/3;
  }
  .trade .products .litecoin {
    grid-row: 3/4;
  }
}
@media (max-width: 767px) {
  .facts .experience {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .facts .experience .data {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/3;
    margin: 20px 0;
  }
  .facts .facts_info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .facts .facts_info img {
    display: none;
  }
  .facts .facts_info .spanch_bob {
    text-align: center;
    grid-column: 1/3;
  }
  .facts .facts_info .facts_question {
    font-size: 36px;
  }
  .trade .primary_header p {
    font-size: 34px;
  }
  .trade .calculator_container .container {
    grid-template-columns: 1fr 1fr 0.8fr 1.6fr;
  }
  .trade .calculator_container .container .left_input {
    grid-column: 1/4;
  }
  .trade .calculator_container .container .left_input .value {
    left: 6%;
  }
  .trade .calculator_container .container .right_input {
    grid-column: 1/4 !important;
  }
  .trade .calculator_container .button_container {
    grid-column: 4/5;
    margin-left: 30%;
  }
  .trade .calculator_container .result {
    grid-column: 1/4;
  }
  .trade .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .trade .products .crypto_box {
    margin: 10% auto;
  }
  .trade .products .bitcoin button img {
    margin: 15px 0;
  }
  .trade .products .litecoin {
    grid-column: 1/3;
  }
  .charts .col-xsm {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    padding: 10% 0;
  }
  .charts .col-xsm .chart_properties {
    box-sizing: border-box;
    padding: 15px 0;
  }
  .charts .col-xsm .first_chart_title,
.charts .col-xsm .second_chart_title,
.charts .col-xsm .third_chart_title {
    grid-area: 1/1/2/2;
    font-size: 26px;
  }
  .charts .col-xsm .first_chart_text,
.charts .col-xsm .second_chart_text,
.charts .col-xsm .third_chart_text {
    grid-area: 2/1/3/2;
  }
  .charts .col-xsm .first_chart_button,
.charts .col-xsm .second_chart_button,
.charts .col-xsm .third_chart_button {
    grid-area: 3/1/4/2;
    margin: 0 auto;
  }
  .charts .col-xsm .first_chart_img,
.charts .col-xsm .second_chart_img,
.charts .col-xsm .third_chart_img {
    display: none;
  }
}
@media (max-width: 991px) {
  header .hamburger {
    display: block !important;
    position: fixed;
    top: 20px;
    right: 10px;
  }
  header nav {
    display: none;
  }
  .hero .content .content_primary p {
    display: block;
    min-width: 200px;
    line-height: 28px;
  }
  .hero .content .content_secondary {
    font-size: 40px;
  }
  .hero .crypto_icon {
    height: 330px;
  }
  .facts .experience {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .facts .experience .data {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .facts .experience .countries {
    grid-column: 1/3;
    margin-top: 20px;
  }
  .facts .facts_info {
    margin-top: 100px;
  }
  .facts .facts_info img {
    margin-top: 100px;
    height: 250px;
  }
  .facts .facts_info .spanch_bob {
    margin: 15px 0;
  }
  .facts .facts_info .facts_question {
    font-size: 36px;
  }
  .trade .calculator_container .container {
    grid-template-rows: 1fr 1fr 1fr;
  }
  .trade .calculator_container .container .right_input {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .trade .calculator_container .container .button_container {
    grid-row: 1/3;
    grid-column: 3/5;
    margin-top: 40px;
  }
  .trade .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .trade .products .crypto_box {
    margin: 5% auto;
    width: 70%;
  }
  .trade .products .litecoin {
    grid-column: 1/3;
  }
}
@media (max-width: 1150px) {
  .facts .experience {
    margin-left: 5%;
  }
  .facts .facts_info {
    margin-top: 100px;
  }
  .facts .facts_info img {
    margin-top: 100px;
    height: 300px;
  }
  .facts .facts_info .spanch_bob {
    margin: 15px 0;
  }
  .facts .facts_info .facts_question {
    font-size: 44px;
  }
  .charts .col-mdlg {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 1fr 0.1fr;
    padding: 10% 0;
  }
  .charts .col-mdlg .chart_properties {
    box-sizing: border-box;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
  }
  .charts .col-mdlg .first_chart_title,
.charts .col-mdlg .second_chart_title,
.charts .col-mdlg .third_chart_title {
    grid-area: 1/1/2/2;
    font-size: 30px;
    font-weight: 600;
  }
  .charts .col-mdlg .first_chart_text,
.charts .col-mdlg .second_chart_text,
.charts .col-mdlg .third_chart_text {
    grid-area: 2/1/3/2;
    margin-bottom: 30px;
  }
  .charts .col-mdlg .first_chart_button,
.charts .col-mdlg .second_chart_button,
.charts .col-mdlg .third_chart_button {
    grid-area: 4/1/5/2;
    position: relative;
  }
  .charts .col-mdlg .first_chart_img,
.charts .col-mdlg .second_chart_img,
.charts .col-mdlg .third_chart_img {
    grid-area: 3/1/4/2;
    width: 750px;
    margin: 30px auto;
  }
>>>>>>> 57317f1b75f18607c35eb680b39882598b61ff24
}

@media (max-width: 600px) {
  .col-sm-1 {
    width: calc(8.333333% * 1);
    -ms-flex-preferred-size: calc(8.333333% * 1);
        flex-basis: calc(8.333333% * 1);
  }
  .col-sm-2 {
    width: calc(8.333333% * 2);
    -ms-flex-preferred-size: calc(8.333333% * 2);
        flex-basis: calc(8.333333% * 2);
  }
  .col-sm-3 {
    width: calc(8.333333% * 3);
    -ms-flex-preferred-size: calc(8.333333% * 3);
        flex-basis: calc(8.333333% * 3);
  }
  .col-sm-4 {
    width: calc(8.333333% * 4);
    -ms-flex-preferred-size: calc(8.333333% * 4);
        flex-basis: calc(8.333333% * 4);
  }
  .col-sm-5 {
    width: calc(8.333333% * 5);
    -ms-flex-preferred-size: calc(8.333333% * 5);
        flex-basis: calc(8.333333% * 5);
  }
  .col-sm-6 {
    width: calc(8.333333% * 6);
    -ms-flex-preferred-size: calc(8.333333% * 6);
        flex-basis: calc(8.333333% * 6);
  }
  .col-sm-7 {
    width: calc(8.333333% * 7);
    -ms-flex-preferred-size: calc(8.333333% * 7);
        flex-basis: calc(8.333333% * 7);
  }
  .col-sm-8 {
    width: calc(8.333333% * 8);
    -ms-flex-preferred-size: calc(8.333333% * 8);
        flex-basis: calc(8.333333% * 8);
  }
  .col-sm-9 {
    width: calc(8.333333% * 9);
    -ms-flex-preferred-size: calc(8.333333% * 9);
        flex-basis: calc(8.333333% * 9);
  }
  .col-sm-10 {
    width: calc(8.333333% * 10);
    -ms-flex-preferred-size: calc(8.333333% * 10);
        flex-basis: calc(8.333333% * 10);
  }
  .col-sm-11 {
    width: calc(8.333333% * 11);
    -ms-flex-preferred-size: calc(8.333333% * 11);
        flex-basis: calc(8.333333% * 11);
  }
  .col-sm-12 {
    width: calc(8.333333% * 12);
    -ms-flex-preferred-size: calc(8.333333% * 12);
        flex-basis: calc(8.333333% * 12);
  }
}
<<<<<<< HEAD
@media (max-width: 767px) {
  .col-sm-1 {
    width: calc(8.333333% * 1);
    -ms-flex-preferred-size: calc(8.333333% * 1);
        flex-basis: calc(8.333333% * 1);
  }
  .col-sm-2 {
    width: calc(8.333333% * 2);
    -ms-flex-preferred-size: calc(8.333333% * 2);
        flex-basis: calc(8.333333% * 2);
  }
  .col-sm-3 {
    width: calc(8.333333% * 3);
    -ms-flex-preferred-size: calc(8.333333% * 3);
        flex-basis: calc(8.333333% * 3);
  }
  .col-sm-4 {
    width: calc(8.333333% * 4);
    -ms-flex-preferred-size: calc(8.333333% * 4);
        flex-basis: calc(8.333333% * 4);
  }
  .col-sm-5 {
    width: calc(8.333333% * 5);
    -ms-flex-preferred-size: calc(8.333333% * 5);
        flex-basis: calc(8.333333% * 5);
  }
  .col-sm-6 {
    width: calc(8.333333% * 6);
    -ms-flex-preferred-size: calc(8.333333% * 6);
        flex-basis: calc(8.333333% * 6);
  }
  .col-sm-7 {
    width: calc(8.333333% * 7);
    -ms-flex-preferred-size: calc(8.333333% * 7);
        flex-basis: calc(8.333333% * 7);
  }
  .col-sm-8 {
    width: calc(8.333333% * 8);
    -ms-flex-preferred-size: calc(8.333333% * 8);
        flex-basis: calc(8.333333% * 8);
  }
  .col-sm-9 {
    width: calc(8.333333% * 9);
    -ms-flex-preferred-size: calc(8.333333% * 9);
        flex-basis: calc(8.333333% * 9);
  }
  .col-sm-10 {
    width: calc(8.333333% * 10);
    -ms-flex-preferred-size: calc(8.333333% * 10);
        flex-basis: calc(8.333333% * 10);
  }
  .col-sm-11 {
    width: calc(8.333333% * 11);
    -ms-flex-preferred-size: calc(8.333333% * 11);
        flex-basis: calc(8.333333% * 11);
  }
  .col-sm-12 {
    width: calc(8.333333% * 12);
    -ms-flex-preferred-size: calc(8.333333% * 12);
        flex-basis: calc(8.333333% * 12);
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    width: calc(8.333333% * 1);
    -ms-flex-preferred-size: calc(8.333333% * 1);
        flex-basis: calc(8.333333% * 1);
  }
  .col-md-2 {
    width: calc(8.333333% * 2);
    -ms-flex-preferred-size: calc(8.333333% * 2);
        flex-basis: calc(8.333333% * 2);
  }
  .col-md-3 {
    width: calc(8.333333% * 3);
    -ms-flex-preferred-size: calc(8.333333% * 3);
        flex-basis: calc(8.333333% * 3);
  }
  .col-md-4 {
    width: calc(8.333333% * 4);
    -ms-flex-preferred-size: calc(8.333333% * 4);
        flex-basis: calc(8.333333% * 4);
  }
  .col-md-5 {
    width: calc(8.333333% * 5);
    -ms-flex-preferred-size: calc(8.333333% * 5);
        flex-basis: calc(8.333333% * 5);
  }
  .col-md-6 {
    width: calc(8.333333% * 6);
    -ms-flex-preferred-size: calc(8.333333% * 6);
        flex-basis: calc(8.333333% * 6);
  }
  .col-md-7 {
    width: calc(8.333333% * 7);
    -ms-flex-preferred-size: calc(8.333333% * 7);
        flex-basis: calc(8.333333% * 7);
  }
  .col-md-8 {
    width: calc(8.333333% * 8);
    -ms-flex-preferred-size: calc(8.333333% * 8);
        flex-basis: calc(8.333333% * 8);
  }
  .col-md-9 {
    width: calc(8.333333% * 9);
    -ms-flex-preferred-size: calc(8.333333% * 9);
        flex-basis: calc(8.333333% * 9);
  }
  .col-md-10 {
    width: calc(8.333333% * 10);
    -ms-flex-preferred-size: calc(8.333333% * 10);
        flex-basis: calc(8.333333% * 10);
  }
  .col-md-11 {
    width: calc(8.333333% * 11);
    -ms-flex-preferred-size: calc(8.333333% * 11);
        flex-basis: calc(8.333333% * 11);
  }
  .col-md-12 {
    width: calc(8.333333% * 12);
    -ms-flex-preferred-size: calc(8.333333% * 12);
        flex-basis: calc(8.333333% * 12);
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    width: calc(8.333333% * 1);
    -ms-flex-preferred-size: calc(8.333333% * 1);
        flex-basis: calc(8.333333% * 1);
  }
  .col-lg-2 {
    width: calc(8.333333% * 2);
    -ms-flex-preferred-size: calc(8.333333% * 2);
        flex-basis: calc(8.333333% * 2);
  }
  .col-lg-3 {
    width: calc(8.333333% * 3);
    -ms-flex-preferred-size: calc(8.333333% * 3);
        flex-basis: calc(8.333333% * 3);
  }
  .col-lg-4 {
    width: calc(8.333333% * 4);
    -ms-flex-preferred-size: calc(8.333333% * 4);
        flex-basis: calc(8.333333% * 4);
  }
  .col-lg-5 {
    width: calc(8.333333% * 5);
    -ms-flex-preferred-size: calc(8.333333% * 5);
        flex-basis: calc(8.333333% * 5);
  }
  .col-lg-6 {
    width: calc(8.333333% * 6);
    -ms-flex-preferred-size: calc(8.333333% * 6);
        flex-basis: calc(8.333333% * 6);
  }
  .col-lg-7 {
    width: calc(8.333333% * 7);
    -ms-flex-preferred-size: calc(8.333333% * 7);
        flex-basis: calc(8.333333% * 7);
  }
  .col-lg-8 {
    width: calc(8.333333% * 8);
    -ms-flex-preferred-size: calc(8.333333% * 8);
        flex-basis: calc(8.333333% * 8);
  }
  .col-lg-9 {
    width: calc(8.333333% * 9);
    -ms-flex-preferred-size: calc(8.333333% * 9);
        flex-basis: calc(8.333333% * 9);
  }
  .col-lg-10 {
    width: calc(8.333333% * 10);
    -ms-flex-preferred-size: calc(8.333333% * 10);
        flex-basis: calc(8.333333% * 10);
  }
  .col-lg-11 {
    width: calc(8.333333% * 11);
    -ms-flex-preferred-size: calc(8.333333% * 11);
        flex-basis: calc(8.333333% * 11);
  }
  .col-lg-12 {
    width: calc(8.333333% * 12);
    -ms-flex-preferred-size: calc(8.333333% * 12);
        flex-basis: calc(8.333333% * 12);
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    width: calc(8.333333% * 1);
    -ms-flex-preferred-size: calc(8.333333% * 1);
        flex-basis: calc(8.333333% * 1);
  }
  .col-xl-2 {
    width: calc(8.333333% * 2);
    -ms-flex-preferred-size: calc(8.333333% * 2);
        flex-basis: calc(8.333333% * 2);
  }
  .col-xl-3 {
    width: calc(8.333333% * 3);
    -ms-flex-preferred-size: calc(8.333333% * 3);
        flex-basis: calc(8.333333% * 3);
  }
  .col-xl-4 {
    width: calc(8.333333% * 4);
    -ms-flex-preferred-size: calc(8.333333% * 4);
        flex-basis: calc(8.333333% * 4);
  }
  .col-xl-5 {
    width: calc(8.333333% * 5);
    -ms-flex-preferred-size: calc(8.333333% * 5);
        flex-basis: calc(8.333333% * 5);
  }
  .col-xl-6 {
    width: calc(8.333333% * 6);
    -ms-flex-preferred-size: calc(8.333333% * 6);
        flex-basis: calc(8.333333% * 6);
  }
  .col-xl-7 {
    width: calc(8.333333% * 7);
    -ms-flex-preferred-size: calc(8.333333% * 7);
        flex-basis: calc(8.333333% * 7);
  }
  .col-xl-8 {
    width: calc(8.333333% * 8);
    -ms-flex-preferred-size: calc(8.333333% * 8);
        flex-basis: calc(8.333333% * 8);
  }
  .col-xl-9 {
    width: calc(8.333333% * 9);
    -ms-flex-preferred-size: calc(8.333333% * 9);
        flex-basis: calc(8.333333% * 9);
  }
  .col-xl-10 {
    width: calc(8.333333% * 10);
    -ms-flex-preferred-size: calc(8.333333% * 10);
        flex-basis: calc(8.333333% * 10);
  }
  .col-xl-11 {
    width: calc(8.333333% * 11);
    -ms-flex-preferred-size: calc(8.333333% * 11);
        flex-basis: calc(8.333333% * 11);
  }
  .col-xl-12 {
    width: calc(8.333333% * 12);
    -ms-flex-preferred-size: calc(8.333333% * 12);
        flex-basis: calc(8.333333% * 12);
=======
@media (min-width: 1440px) {
  .charts {
    background-image: url("../../img/background/section-chart_XL.png");
    min-height: 450px;
    color: #E0E0E0;
  }
  .charts .chart_header {
    display: flex;
    font-size: 40px;
    font-weight: 600;
    padding: 100px 0;
    justify-content: center;
    text-align: center;
  }
  .charts .chart_text {
    position: relative;
    opacity: 0.6;
  }
  .charts button {
    width: 160px;
    color: #fff;
  }
  .charts .chart_properties {
    position: relative;
  }
  .charts .first_chart {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 0 10% 0 5%;
  }
  .charts .first_chart .first_chart_title {
    grid-area: 1/1/2/2;
    font-size: 36px;
    font-weight: 600;
    top: 60%;
  }
  .charts .first_chart .first_chart_text {
    grid-area: 2/1/3/2;
    top: 30%;
  }
  .charts .first_chart .first_chart_button {
    grid-area: 3/1/4/2;
  }
  .charts .first_chart .first_chart_img {
    grid-area: 1/2/5/3;
  }
  .charts .second_chart {
    display: grid;
  }
  .charts .third_chart {
    display: grid;
>>>>>>> 57317f1b75f18607c35eb680b39882598b61ff24
  }
}

/*# sourceMappingURL=index.css.map */
