header {
    display: flex;
    min-height: 150px;
    width: 100%;
    .menu {
        display: flex;
        width: 100%;
        align-items: center;
        a.nav_menu_link {
            align-items: center;
            color: $primary;
            text-decoration: none;
            margin: 0 20px 0 10px;
            font-weight: 500;
        }
        .logo {
            display: flex;
            // flex-basis: 15%;
            padding-left: 5%;
            .crappo {
                display: flex;
                align-items: center;
                justify-content: end;
                color: rgba($color: #fff, $alpha: .9);
                letter-spacing: 1px;
                font-family: 'Montserrat', sans-serif;
                .crappo_icon {
                    align-items: center;
                    justify-content: start;
                }
            }
            span {
                display: flex;
                text-transform: uppercase;
                font-weight: 500;
                position: absolute;
                margin-right: -90px;
            }   
        }
        .hamburger{
            display: none;
            width: 80px;
            height: 10px;
            float: right;
            transition: scale 1s;
            cursor: pointer;
                &:hover span{
                    box-shadow: 1px 1px 1px ;
                    transform: scale(1.1);
                }
            span{
                display: block;
                border-top: 4px $burger_color solid;
                border-bottom: 4px $burger_color solid;
                box-shadow: 1px 1px 1px;
                border-radius: 10px;
                margin: 27% 0;
                width: 80%;
            }
        }
    }
    nav {
        display: flex;
        flex: 95%;
        align-items: end;
        margin-right: 5%;
        ul {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex: 100%;
            li {
                display: flex;
                .login {
                    p {
                        padding-left: 40px;
                        padding-right: 30px;
                        font-weight: 600;
                        font-size: 18px;
                    }   
                }
                .register {
                    display: flex;
                    width: 130px;
                    align-items: center;
                    justify-content: center;
                    p {
                        background-color: #3671E9;
                        padding: 20px 30px;
                        border-radius: 35px;
                        font-size: 18px;
                    }
                }
            }
        }      
    }
}

