*, 
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-image: url(../img/abstraction-3527172_1920.jpg);
    background-attachment: fixed;
    background-size: cover;
}

body {
    width: 1440px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(13, 13, 43);
    font-family: 'Rubik', sans-serif;

    .btn {
        display: block;
        font-style: normal;
        height: 65px;
        background-color: $button__color;
        border-radius: 50px;
        font-size: 18px;
        font-weight: 500;
    }

}