@media (max-width: 991px) {
    
    header {
        .hamburger{
            display: block !important;
            position: fixed;
            top: 20px;
            right: 10px;
        }
        
        .nav {    
            display: none !important;
        }
        
    }
}
    
// @media (max-width: 1150px) {
//         // header {

            
//         //     // .nav {
                
                
//         //     // }
            
//         // }
// }

// @media (max-width: 1350px) {

//     //  header {

        
//     //     .nav {
        
//     //     }
            
//     // }    
// }
