.hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 865px;
    background-image: url(../img/sec-section.png);
    margin-left: auto;
    margin-right: auto;
    color: #fff;

    .hero__primary {
        display: flex;
        // flex-direction: row;
        justify-content: space-evenly;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 100px;
        
        .counter__tile {
            display: flex;
            // justify-content: space-evenly;

            img {
                display: flex;
                height: 80px;
                margin-right: 25px;
            }

            
            p {
                display: flex;
                flex-direction: column;
                font-family: 'Rubik';
                color: $primary;
                letter-spacing: 1px;
                font-weight: 500;
                
                span {
                    display: flex;
                    // flex-direction: column;
                    font-size: 45px;
                    font-weight: 700;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .hero__secondary {
        display: grid;
        margin: 200px 5%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 25px;

        .secondary {
            grid-column: 3 / 5;
            margin-left: 100px;
        }

        .why__crappo {
            p {
                font-size: 40px;
                font-weight:600;
                span {
                    text-transform: uppercase;
                }
            }
        }

        .crappo__info {
            font-size: 16px;
            letter-spacing: 1px;
            color: $primary;
        }

        .btn__property {
            display: flex;
            width: 140px;
            justify-content: center;
            align-items: center;   
        }
    }
}