.charts {
    background-image: url('../../img/background/section-chart_XL.png');
    min-height: 450px;
    color: $primary;
    .chart_description {
        font-size: 40px;
        font-weight: 600;
        padding: 100px 0;
        text-align: center;
        margin: 0 auto;
    }
    .chart_text {
        position: relative;
        opacity: 0.6;
    }
    .chart_box {
        display: flex;
    }
    .chart_properties {
        display: flex;
    }
    .chart_first_part {
        .chart_first_left {
            .chart_first_title {
                display: flex;
            }
        }
    }
}

@media (max-width: 600px) {
    .charts {
        .chart_properties {
            margin: 5% auto;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .chart_box {
            flex-direction: column;
            flex-wrap: wrap;
            margin: 10% 0;
        }
        .chart_first_title,
        .chart_second_title,
        .chart_third_title {
            font-size: 28px;
        }
        .chart_img_properties {
            width: 80vw;
        }
        .chart_first_part {
            .chart_first_left {
                margin-bottom: 10%;
                .chart_first_title {
                    justify-content: center;
                }
            }
            .chart_first_right {
                margin: auto;
            }
        }
        .chart_second_part {
            margin: 25% 0;
            flex-direction: column-reverse;
            .chart_second_left {
                margin: auto;
            }
            .chart_second_right {
                margin-bottom: 10%;
                .second_chart_text {
                    text-align: center;
                }
            }
        }
        .chart_third_part {
            margin: auto;
            padding-bottom: 10%;
            .chart_third_left {
                margin-bottom: 10%;
                .chart_third_title {
                    text-align: center;
                }
                .chart_third_button {
                    text-align: center;
                    margin: 5% auto;
                    justify-content: center;
                }
            }
            .chart_third_right {
                margin: auto;
            }
        }
    }
}

@media (min-width: 601px) {
    .charts {
        .chart_caption {
            font-size: 34px;
        }
        .chart_properties {
            align-items: center;
        }
        .cubby {
            display: block;
            align-items: center;
        }
        .chart_first_part {
            flex-direction: column;
            flex-wrap: wrap;
            .chart_first_right {
                margin: 10% auto 0%;
            }
        }
        .chart_second_part {
            flex-direction: column-reverse;
            .chart_second_left {
                margin: auto;
            }
        }
        .chart_third_part {
            flex-direction: column;
            .chart_third_right {
                margin: 10% auto;
            }
        }
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    .charts {
        .chart_first_title,
        .chart_second_title,
        .chart_third_title {
            font-size: 30px;
        }
        .chart_properties {
            text-align: center;
            margin: 5% auto;
            justify-content: center;
        }
        .chart_img_properties {
            width: 80vw;
        }
        .chart_first_part {
            .chart_first_left {
                .chart_first_title {
                    justify-content: center;
                }
            }
        }
        .chart_second_part {
            margin: 25% 0;
        }
        .chart_third_part {
            .chart_third_button {
                text-align: center;
                margin: auto;
                justify-content: center;
            }
        }
    }
}

@media (min-width: 1200px) {
    .charts {
        .chart_box {
            padding-bottom: 10%;
        }
        .chart_properties {
            margin: 35px 0;
        }
        .chart_first_title,
        .chart_second_title,
        .chart_third_title {
            font-size: 32px;
        }
        .chart_first_part {
            flex-direction: row;
            width: 90vw;
            margin: 0 auto;
            .chart_first_left {
                margin: auto;
                padding-top: 10%;
            }
        }
        .chart_second_part {
            flex-direction: row;
            width: 90vw;
            .chart_second_left {
                padding-right: 10%;
                margin-left: 0;
            }
            .chart_second_right {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 50%;
            }
            .chart_properties {
                margin: 15px auto 15px 0;
            }
        }
        .chart_third_part {
            flex-direction: row;
            .chart_third_left {
                margin: auto auto auto 5%;
            }
        }
    }
}