.facts {
    min-height: 700px;
    background-image: url('../img/background/section-experience-XL.png');
    color: $primary;
    .experience {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .data {
            display: flex;
            p {
                min-width: 210px;
                padding-left: 25px;
                color: $greycolor;
                span {
                    font-size: 40px;
                    font-weight: 600;
                }
            }
        }
    }


    .facts_sec {
        position: relative;
        .facts_info {
            margin: 20% 8%;
            img {
                position: relative;
                top: -100px;
            }
            .facts_question {
                font-size: 50px;
                font-weight: 600;
            }
            .facts_text {
                display: flex;
                color: rgba($color: #e0e0e0, $alpha: .8);
            }
            .facts_learn {
                width: 140px;
                height: 60px;
                background-color: $button__color;
                border: none;
                border-radius: 30px;
                p {
                    font-size: 18px;
                    color: $primary;
                    font-weight: 500;
                }
            }
        }
        .crypto_procesor {
            position: absolute;
        }
    }
}

@media (max-width: 600px) {
    .facts {
        padding-top: 30%;
        .experience {
            .data {
                align-items: center;
                justify-content: center;
                padding: 5% 0;
                transition: 0.5s;
            }
        }
        .facts_sec {
            flex-wrap: wrap;
            .facts_info {
                z-index: 1;
                text-align: center;
                .spanch_bob {
                    justify-content: center;
                    margin: 5% auto;
                }
            }
            .crypto_procesor {
                margin: 0 auto;
                bottom: 30%;
                img {
                    width: 100vw;
                    opacity: 0.4;
                }
            }
        }
    }
}

@media (min-width: 601px) {
    .facts {
        padding-top: 15%;
        div {
            justify-content: center;
            margin: 0 auto;
        }
        .experience {
            .data {
                padding: 5% 0;
                transition: 0.5s;
            }
        }
        .facts_info {
            z-index: 1;
            text-align: center;
            .crypto_procesor {
                bottom: 30%;
                img {
                    width: 80vw;
                    opacity: 0.4;
                }
            }
            .spanch_bob {
                margin: 5% auto;
            }
        }
    }
}

@media (min-width: 1200px) {
    .facts {
        padding-top: 0;
        .experience {
            .data:hover {
                transform: scale(1.05);
            }
        }
        .facts_sec {
            .crypto_procesor {
                max-width: 45%;
                margin-left: 5%;
                img {
                    width: 100%;
                    opacity: 1;
                }
            }
            .facts_info {
                div {
                    justify-content: start;
                }
                .facts_question {
                    text-align: left;
                }
                .facts_text {
                    text-align: left;
                }
                .facts_learn {
                    
                }
            }
        }
    }
}