footer {
    position: relative;
    background-image: url("../../img/background/footer.png");
    min-height: 300px;
    margin: 5% 5% 3% 5%;
    color: $primary;
    .footer_container {
        .logo {
            .footer_logo_container {
                width: 90%;
                .footer_crappo {
                    span {
                        font-size: 18px;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        position: relative;
                        padding-left: 10px;
                        bottom: 10px;
                        font-weight: 600;
                    }
                }
            }
        }
        .footer_links {
            .footer_links_container {
                display: flex;
                flex-direction: row;
                width: 90%;
                justify-content: space-around;
                .quick_link,
                .resources {
                    ul {
                        .footer_quick_links:first-of-type {
                            font-size: 20px;
                            font-weight: 600;
                            padding-bottom: 20px;
                        }
                        .footer_quick_links {
                            color: $primary;
                            line-height: 35px;
                            list-style-type: none;
                        }
                    }
                }
            }
        }
        .payments {
            .footer_payments_container {
                width: 90%;
                .payments_header {
                    margin-bottom: 35px;
                }
                .payment_system {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
        }
    }
    .rights_reserved {
        margin-top: 130px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        p {
            opacity: 0.8;
        }
        img {
            display: flex;
            height: 25px;
            margin-right: 3%;
        }
    }
}

@media (max-width: 600px) {
    footer{
        .footer_container {
            .footer_container_property {
                display: flex;
                justify-content: center;
                padding: 10% 0;
            }
            .footer_links {
                align-items: center;
                justify-content: center;
            }
            .payments {
                align-items: center;
                justify-content: center;
                .footer_payments_container {
                    flex-direction: column;
                    .payments_header {
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    footer{
        .footer_container {
            .footer_container_property {
                display: flex;
                justify-content: center;
                padding: 10% 0;
            }
            .footer_links {
                align-items: center;
                justify-content: center;
            }
            .payments {
                align-items: center;
                justify-content: center;
                .footer_payments_container {
                    flex-direction: column;
                    .payments_header {
                        text-align: center;
                    }
                }
            }
        }
    }
}