.hero {
    background-image: url('../img/background/bgc-hero-XL.jpg');
    background-size: 100%;
    padding-bottom: 10%;
    .hero_content {
        flex-wrap: wrap;
        .content_info_banner {
            padding: 20px 0;
            p {
                display: inline;
                background-color: rgba($color: #fff, $alpha: .1);             
                color: rgba($color: #fff, $alpha: .8);
                padding: 9px 15px 9px 5px;
                border-radius: 20px;
                z-index: -1;
                span {
                    background-color: rgba($color: #fff, $alpha: .9);
                    color: rgb(56, 56, 56);
                    text-transform: uppercase;
                    font-weight: 600;
                    padding: 5px 15px;
                    border-radius: 20px;
                    margin-right: 15px;
                }
            }
        }
        .content_title {
            font-weight: 700;
            color: #fff;
        }
        .content_description {
            padding: 30px 0;
            color: rgba($color: #e0e0e0, $alpha: .8);
            letter-spacing: 0.01rem;
            line-height: 28px;
        }
        .content_cubby {
            width: 150px;
            height: 30px;
            padding: 15px 20px 20px 25px;
            .cubby_container {
                display: flex;
                justify-content: center;
                a {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: #fff;   
                    p {
                        padding-right: 10px;
                        span {
                            text-transform: uppercase;
                        }
    
                    }
                }
            }   
        }
    }
    .hero_image {
        position: absolute;
    }
}

@media (max-width: 600px) {
    .hero {
        text-align: center;
        .hero_content {
            z-index: 1;
            margin: 0 auto;
            padding-top: 10%;
            .content_info_banner {
                display: inline-flex;
            }
            .content_title {
                font-size: 34px;
                p {
                    line-height: 36px;
                }
            }
            .content_cubby {
                margin: 0 auto;
            }
        }
        .hero_image {
            width: 100%;
            bottom: 30%;
            .bitcoin_hub_image {
                width: 80vw;
                min-width: 380px;
                opacity: 0.4;
            }
        }
    }
}

@media (min-width: 601px) {
    .hero {   
        text-align: center;
        div {
            justify-content: center;
            margin: 0 auto;
        }
        .hero_content {
            justify-content: center;
            z-index: 1;
            p {
                display: block;
                min-width: 200px;
                line-height: 28px;
            }
            .content_info_banner {
                max-width: 370px;
            }
            .content_title {
                font-size: 46px;
                p {
                    line-height: 48px;
                }
            }
            .content_cubby {
                .cubby_container {
                    .cubby_container_icon {
                        position: relative;
                        right: 30%;
                    }
                }
            }
        }
        .hero_image {
            width: 100%;
            bottom: 20%;
            .bitcoin_hub_image {
                width: 80vw;
                min-width: 380px;
                opacity: 0.4;
            }
        }   
    }
}

@media (min-width: 768px) {
    .hero {
        .hero_content {
            .content_title {
                font-size: 54px;
            }
        }
        .hero_image {
            .bitcoin_hub_image {
                height: 600px;
            }
        }
    }
}

@media (min-width: 992px) {
    .hero {
        .hero_content {
            .content_title {
                font-size: 64px;
                p {
                    line-height: 74px;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .hero {
        .hero_content {
            margin-left: 10%;
            .content_title,
            .content_description {
                text-align: left;
            }
            .content_info_banner,
            .content_cubby {
                margin-left: 0;
            }
        }    
        .hero_image {
            max-width: 45vw;
            .bitcoin_hub_image {
                max-width: 100%;
                opacity: 1;
            }
        }
    }
}