.subscribe {
    display: flex;
    background-image: url("../../img/background/section-subscribe-XL.png");
    min-height: 40vh;
    width: 100%;
    color: white;
    align-items: center;
    justify-content: center;
    .subscribe_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        background-image: url("../../img/background/sub-area.png");
        background-size: cover;
        height: 215px;
        width: 79%;
        border-radius: 20px;
        span {
            position: relative;
            grid-area: 1 / 1 / 2 / 2;  
            font-size: 32px;
            font-weight: 600;
            margin-left: 10%;
            top: 50%;
        }
        p {
            grid-area: 2 / 1 / 3 / 2;
            opacity: 0.6;
            margin-left: 10%;
            line-height: 30px;
        }
        input {
            position: relative;
            grid-area: 1 / 2 / 4 / 3;
            height: 30px;
            background-color: #3671E9;
            border-left: none;
            border-top: none;
            border-right: none;
            border-bottom: 1px solid rgba($color: #fff, $alpha: 0.3);
            outline: none;
            width: 55%;
            top: 40%;
            font-size: 22px;
            color: white;
        }
        button {
            position: relative;
            top: 35%;
            left: 65%;
            grid-area: 1 / 2 / 4 / 3;
            color: black;
            background-color: #fff;
            width: 150px;
            height: 55px;
        }
    }
}