.trade {
    background-color: rgb(245, 245, 245);
    height: 1480px;
    color: $primary;
    .primary_header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-image: url('../../img/background/section-trade-XL.png');
        height: 450px;
        margin: 100px 0;
        p {
            font-size: 40px;
            font-weight: 600;
        }
        span {
            margin-top: 40px;
            color: $greycolor;
        }
    }
    .calculator {
        position: relative;
        bottom: 240px;
        margin: 0 auto;
        height: 350px;
        width: 70vw;
        background-color: #fff;
        border-radius: 20px;
    }
    .secondary_header {
        display: flex;
        align-items: center;
        text-align: center;
        margin: 100px 0;

    }
}