.trade {
    background-color: rgb(245, 245, 245);
    height: 1480px;
    color: $primary;
    .trade_header {
        display: flex;;
        text-align: center;
        p {
            font-size: 40px;
            font-weight: 600;
        }
    }
    .primary_header {
        flex-direction: column;
        background-image: url('../../img/background/section-trade-XL.png');
        height: 350px;
        margin: 100px 0 0 0;
        span {
            margin-top: 30px;
            color: $greycolor;
        }
    }
    .calculator_container {
        position: relative;
        bottom: 140px;
        margin: 0 auto;
        height: 350px;
        width: 1005px;
        background-color: #fff;
        color: #303030;
        border-radius: 20px;
        .calculator_in {
            display: flex;
            flex-direction: row;
            padding-top: 30px;
            font-size: 20px;
            input {
                margin: 30px 10%;
                height: 2rem;
                font-size: 18px;
                border-top-style: none;
                border-left-style: none;
                border-right-style: none;
                outline: none;
            }
            input:valid ~ .input_text,
            input:focus ~ .input_text {
                opacity: 0;
            }
            .input_text {
                position: relative;
                bottom: 60px;
                margin: 0 10%;
                transition: 0.5s;
            }
            .left_input {
                width: 50%;
                .text_in {
                    width: 90%;
                }
            }
            .right_input {
                width: 30%;
                .type_of_currency {
                    width: 85%;
                    margin-left: 15%;
                }
                .ths {
                    margin-left: 15%;
                }
                img {
                    position: relative;
                    bottom: 60px;
                    left: 150px;
                    cursor: pointer;
                }
            }
            button {
                margin: 5px 5% 5px 5%;
                border: none;
                color: $primary;
                width: 140px;
                cursor: pointer;
            }
        }
    }
    .secondary_header {
        justify-content: center;
        p {
            color: black;
        }
    }
}