.trade {
    background-color: rgb(245, 245, 245);
    min-height: 1480px;
    color: $primary;
    .navyblue_section {
        display: flex;;
        text-align: center;
        flex-direction: column;
        background-image: url('../../img/background/section-trade-XL.png');
        height: 50vh;
        margin: 100px 0 0 0;
        h1 {
            font-size: 40px;
            font-weight: 600;
        }
        h4 {
            margin-top: 30px;
            font-weight: normal;
            color: $greycolor;
        }
    }
    .calculator_container {
        position: relative;
        bottom: 140px;
        margin: 0 auto;
        height: 450px;
        width: 70%;
        font-size: 20px;
        background-color: #fff;
        color: #303030;
        border-radius: 20px;
        z-index: 0;
        input {
            height: 2rem;
            border-top-style: none;
            border-left-style: none;
            border-right-style: none;
            outline: none;
            font-size: 20px;
        }
        input:valid ~ .text_area,
        input:focus ~ .text_area {
            display: none;
        }
        .top_calculator_part {
            display: flex;
            flex-wrap: nowrap;
            height: 30%;
            .text_area {
                position: absolute;
                transition: 0.5s;
            }
            .right_text_area {
                .type_of_currency {
                    position: absolute;
                }
                img {
                    position: absolute;
                    right: 11%;
                    bottom: 5%;
                    cursor: pointer;
                }
                .ths {
                    bottom: 5%;
                    margin-left: 5%;
                }
            }   
        }
        .bottom_calculator_part {
            height: 60%;
            .hour_revenue {
                color: $button__color;
                font-weight: 500;
                margin-left: 5%;
                font-size: 16px;
            }
            #result {
                width: 42%;
                margin: 2% 5% 2% 5%;
                font-size: 32px;
            }
            .mining_difficulty {
                opacity: 0.5;
                font-size: 16px;
                margin-left: 5%;
                margin-bottom: 5%;
                font-weight: 400;
            }
        }
        select {
            display: none;
        }
    }
    .white_section {
        display: flex;;
        text-align: center;
        justify-content: center;
        h1 {
            font-size: 40px;
            font-weight: 600;
            color: black;
        }
    }
    .products {
        color: black;
        display: flex;
        margin: 0 auto;
        justify-content: space-evenly;
        padding: 5% 0 5% 0;
        .crypto_box {
            display: flex;
            text-align: center;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            border-radius: 20px;
            width: 28%;
            max-width: 370px;
            max-height: 430px;
            .crypto_icons {
                position: relative;
                bottom: 20px;
                padding: 10px;
                margin-top: 50px;
            }
            .crypto_shortcut {
                font-size: 30px;
                font-weight: 600;
                padding: 20px 0;
                span {
                    font-size: 20px;
                    font-weight: 500;
                }
            }
            .crypto_text {
                opacity: 0.6;
                padding-bottom: 30px;
                line-height: 30px;
            }
            .crypto_arrows {
                margin-bottom: 50px;
            }
        }
        .bitcoin {
            background-color: #2b076e;
            color: #fff;
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 200px;
                border: none;
                color: $primary;
                margin-bottom: 50px;
                img {
                    height: 32px;
                    padding-left: 25px;
                }
            }
        }
    }
}