@media (max-width: 600px) {
    .trade {
        .navyblue_section,
        .white_section {
            h1 {
                font-size: 34px;
            }
        }
        .calculator_container {
            .top_calculator_part {
                height: 100%;
                .left_text_area {
                    position: absolute;
                    width:100%;
                    top: 10%;
                    .amount_of_currency {
                        width: 85%;
                        left: 5%;
                        top: 10%;
                        position: relative;
                    }
                    .value {
                        left: 5%;
                    }
                }
                .right_text_area {
                    position: absolute;
                    width: 100%;
                    top: 25%;
                    .type_of_currency {
                        margin-left: 5%;
                        width: 85%;
                    }
                    img {
                        top: 5%;
                    }
                    .ths {
                        top: 5%;
                    }
                }
                .button_container {
                    display: flex;
                    align-items: center;
                }
            }
            .bottom_calculator_part {
                position: relative;
                bottom: 35%;
                #result {
                    width: 85%;
                    margin-bottom: 5%;
                }
                p {
                    margin: 0 5%;
                }
            }
        }
    }

}

@media (min-width: 600px) {
    .trade {
        .navyblue_section {
            p {
                font-size: 34px;
            }
        }
        .calculator_container {
            .top_calculator_part {
                height: 100%;
                .left_text_area {
                    position: absolute;
                    width:100%;
                    top: 10%;
                    .amount_of_currency {
                        width: 85%;
                        left: 5%;
                        top: 10%;
                        position: relative;
                    }
                    .value {
                        left: 5%;
                    }
                }
                .right_text_area {
                    position: absolute;
                    width: 100%;
                    top: 25%;
                    .type_of_currency {
                        margin-left: 5%;
                        width: 85%;
                    }
                    img {
                        top: 5%;
                    }
                    .ths {
                        top: 5%;
                    }
                }
                .button_container {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            .bottom_calculator_part {
                position: relative;
                bottom: 35%;
                #bottom_calculator_part {
                    width: 85%;
                    margin-bottom: 5%;
                }
                p {
                    margin: 0 5%;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .trade {
        .navyblue_section {
            p {
                font-size: 44px;
            }
        }
        .calculator_container {
            .top_calculator_part {
                .left_text_area {
                   width: 40%; 
                }
                .right_text_area {
                    width: 35%;
                }
            }
            .bottom_calculator_part {
                height: 20%;
            }
        }
    }
}