@media (max-width: 600px) {
    .trade {
        .navyblue_section,
        .white_section {
            h1 {
                font-size: 34px;
            }
        }
        .calculator_container {
            .top_calculator_part {
                height: 100%;
                .first_calc_text {
                    position: absolute;
                    width:100%;
                    top: 10%;
                    .amount_of_currency {
                        width: 85%;
                        left: 5%;
                        top: 10%;
                        position: relative;
                    }
                    .product_quantity {
                        left: 5%;
                    }
                }
                .second_calc_text {
                    position: absolute;
                    width: 100%;
                    top: 25%;
                    .type_of_currency {
                        margin-left: 5%;
                        width: 85%;
                    }
                    .calculator_arrow {
                        position: absolute;
                        top: 5%;
                        right: 10%;
                    }
                    .third_calc_text {
                        position: absolute;
                        left: 5%;
                    }
                }
                .third_item_container {
                    position: absolute;
                    width: 100%;
                    top: 40%;
                    .button_container {
                        display: flex;
                        justify-content: center;
                    }
                }
            }
            .bottom_calculator_part {
                position: relative;
                bottom: 35%;
                #result {
                    width: 85%;
                    margin-bottom: 5%;
                }
                p {
                    margin: 0 5%;
                }
            }
        }
    }

}
// NADPISZ SOBIE MEDIA 600PX-1200PX DLA CALCULATOR CONTAINER I JEGO ELEMENTÓW. 
@media (min-width: 600px) {
    .trade {
        .navyblue_section {
            p {
                font-size: 34px;
            }
        }
        .calculator_container {
            .top_calculator_part {
                height: 100%;
                .first_calc_text {
                    position: absolute;
                    width:100%;
                    top: 10%;
                    .amount_of_currency {
                        width: 85%;
                        left: 5%;
                        top: 10%;
                        position: relative;
                    }
                    .product_quantity {
                        left: 5%;
                    }
                }
                .second_calc_text {
                    position: absolute;
                    width: 100%;
                    top: 25%;
                    .type_of_currency {
                        position: absolute;
                        left: 5%;
                        width: 85%;
                    }
                    .calculator_arrow {
                        position: absolute;
                        top: 5%;
                        right: 10%;
                    }
                    .third_calc_text {
                        position: absolute;
                        top: 5%;
                        left: 5%;
                    }
                }
                .third_item_container {
                    position: absolute;
                    width: 100%;
                    top: 40%;
                    .button_container {
                        display: flex;
                        justify-content: center;
                    }
                }
            }
            .bottom_calculator_part {
                position: relative;
                bottom: 35%;
                #result {
                    width: 85%;
                    margin-bottom: 5%;
                }
                p {
                    margin: 0 5%;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .trade {
        .navyblue_section {
            p {
                font-size: 44px;
            }
        }
        .calculator_container {
            .top_calculator_part {
                display: flex;
                // flex-wrap: nowrap;
                // flex-direction: row;
                // justify-content:space-between;
                width: 100%;
                height: 60%;
                .first_item_container {
                    width: 30%;
                    display: flex;
                    .first_calc_text {
                        width: 35%; 
                    }
                }
                .second_item_container {
                    width: 30%;
                    display: flex;
                    .second_calc_text {
                        width: 35%;
                    }
                }
                .third_item_container {
                    width: 20%;
                    display: flex;

                    .button_container {
                        margin: 0 auto;
                    }
                }
            }
            .bottom_calculator_part {
                height: 40%;
                width: 100%;
                position: absolute;
                bottom: 0;
            }
        }
    }
}