
@media (max-width: 767px) {
    .section.hero {
        
        .hero_content{
            justify-content: space-between;
            height: 400px;
        }
        
        .hero_image {
            position: absolute;
            height: 100%;
            max-height: 450px;
            top: 0; 
            z-index:0;
    
            .bitcoin_hub_image {
                opacity: 0.5;
            }
        }
        }
    }